CLIENT
OSD
MDS
MONITOR
testfile
CLIENT_FUSE
BENCHMARK
CODING_TESTER
*.d
*.la
*.o
*.log
*.swp
core
coding_tester_segment/
coding_tester_block/
coding_tester_repair/
osd_block/
osd_block2/
osd_object/
osd_segment/
osd_object2/
osd_block/
osd_segment2/
*.out
abc*
fusedir/
test*
.project
*.tmp
decoded_file
output*
log/
/o1
/file1
/lib
